.bg-section-1 {
   background: url('../img/background.jpg') no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   background-size: cover;
   -o-background-size: cover;
}

.btn-email {
   background: #000;
   font-weight: bold;
   border: 1px solid #000;
   color: #fff;

   &:hover {
      color: #fff;
   }
}

.input-email {
   border: 2px solid #000;
}

.btn-group-email {
   width: 100%;

   @media all and (min-width: $tablets){
      width: auto;
   }
}

.btnChangeColor {
   top: 60px;
   right: 0;
}